{#
 This file is part of Cursosf2Application.

Cursosf2Application is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Cursosf2Application is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Cursosf2Application.  If not, see <http://www.gnu.org/licenses/>.
#}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bundles/cursosf2grupo/css/bootstrap.css') }}" type="text/css" rel="stylesheet"
              media="screen" />
        <link href="{{ asset('bundles/cursosf2grupo/css/frontend.css') }}" type="text/css" rel="stylesheet"
              media="screen" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
            <footer>
                &copy; - {{ 'now' | date('Y') }} - Cursosf2Application
                <a href="{{ path('contenido_estatico', {'pagina': 'quienes-somos'}) }}">Quiénes somos</a>
                <a href="{{ path('contenido_estatico', {'pagina': 'contacto'}) }}">Contacto</a>
                <a href="{{ path('contenido_estatico', {'pagina': 'ayuda'}) }}">Ayuda</a>
            </footer>
            {% block javascripts %}{% endblock %}
        </div>

    </body>
</html>
