{#
 This file is part of Cursosf2Application.

Cursosf2Application is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Cursosf2Application is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Cursosf2Application.  If not, see <http://www.gnu.org/licenses/>.
#}

{% extends '::frontend_1col.html.twig'%}

{% block title %}Regístrate como usuario{% endblock %}

{% block article%}
    <h1>{{ block('title') }}</h1>
    <form action="{{ path('Cursosf2UsuariosBundle_registro') }}" method="post" {{ form_enctype(formulario) }} class="well">
        {{ form_errors(formulario) }}
        <fieldset><legend>Datos personales</legend>
            {{ form_row(formulario.nombre) }}
            {{ form_row(formulario.apellidos) }}
            {{ form_row(formulario.descripcion) }}
        </fieldset>
        <fieldset><legend>Datos de acceso</legend>
            {{ form_row(formulario.email) }}
            {{ form_row(formulario.password) }}
        </fieldset>
        {{ form_rest(formulario) }}
        <button class="btn" type="submit" >Registrarme</button>
    </form>
{% endblock %}