{#
<!DOCTYPE HTML>
 This file is part of Cursosf2Application.

Cursosf2Application is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

Cursosf2Application is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

You should have received a copy of the GNU General Public License
 along with Cursosf2Application.  If not, see
 <http://www.gnu.org/licenses/>.
#}

{% extends "::base.html.twig" %}

{% block body %}
<div id='contenedor'>
    <header>
        <div id='logo'><img src="/images/static/logo.png"></div>
        <nav>
            <ul>
                <li><a href="{{ path('homepage') }}">Inicio</a></li>
                <li><a href="#">Buscar</a></li>
                <li><a href="#">Acceso</a></li>
            </ul>
        </nav>
    </header>
    <article class="portada">
        <section class="proximas-reuniones">
            {% if proximasReuniones|length > 0 %}
                <ul>
                    {% for reunion in proximasReuniones%}
                        <li>
                            <div class="foto-elemento">
                                <img src="">
                            </div>
                            <div class="info-element">
                                <div class="nombre-elemento">{{ reunion.nombre }}</div>
                                <div>Grupo: {{ reunion.grupo.nombre }}</div>
                                <time datetime="{{ reunion.fechaReunion | date() }}">{{ reunion.fechaReunion | date() }}</time>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </section>

        <section class="ultimas-reuniones">
            #LISTADO DE ÚLTIMAS REUNIONES
        </section>

        <section class="buscar-reuniones">
            #FORMULARIO DE BÚSQUEDA DE REUNIONES
        </section>

        <section class="ultimos-movimientos">
            #MUESTRA ÚLTIMOS MOVIMIENTOS
        </section>

    </article>
    <footer>
        &copy; - {{ 'now' | date('Y') }} - Cursosf2Application
        <a href="{{ path('contenido_estatico', {'pagina': 'quienes-somos'}) }}">Quiénes somos</a>
        <a href="{{ path('contenido_estatico', {'pagina': 'contacto'}) }}">Contacto</a>
        <a href="{{ path('contenido_estatico', {'pagina': 'ayuda'}) }}">Ayuda</a>
    </footer>
</div>

{% endblock %}